{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Colour Tester</title>
        <meta name="viewport" content="width=device-width initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'tester/style.css' %}">
    </head>
    <body>
        <form action="{% url 'add_combo' %}" method="get">
            <button type="submit" class="create-button">New Combo</button>
        </form>
        <div id="combos">
        {% for combo in combos %}
            <a href="{% url 'edit_combo' combo.id %}">
            <div class="combo">
                <span class="combo-block" style="background: {{ combo.bgcolour_one }}; color: {{ combo.textcolour_one }}">{{ combo.textcolour_one }}</span>
                <span class="combo-block" style="background: {{ combo.bgcolour_two }}; color: {{ combo.textcolour_two }}">{{ combo.textcolour_two }}</span>
            </div>
            </a>
        {% endfor %}
        </div>
    </body>
</html>