{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Colour Tester</title>
        <meta name="viewport" content="width=device-width initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'tester/style.css' %}">
        <script src="https://use.fontawesome.com/73fb701cc7.js"></script>
    </head>
    <body>
        <form action="{% url 'add_combo' %}" method="get">
            <button type="submit" class="create-button">New Combo</button>
        </form>
        <div id="combos">
        {% for combo in combos %}
            <a href="{% url 'edit_combo' combo.id %}">
            <div class="combo">
                <span class="combo-block index-combo-block" style="background: {{ combo.bgcolour_one }}; color: {{ combo.textcolour_one }}">{{ combo.textcolour_one }}</span>
                <span class="combo-block index-combo-block" style="background: {{ combo.bgcolour_two }}; color: {{ combo.textcolour_two }}">{{ combo.textcolour_two }}</span>
            </div>
            </a>
        {% endfor %}
        </div>
        <ul class="pagination">
            {% if combos.has_previous %}
            <li><a href="?page={{ combos.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            {% for page_num in combos.paginator.page_range %}
            <li {% if page_num == combos.number %}class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endfor %}
            {% if combos.has_next %}
            <li><a href="?page={{ combos.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
            {% endif%}
        </ul>
    </body>
</html>